In [1]:
import pandas as pd
import numpy as np
import re

In [7]:
def read_swc(arquivo):
    
    df = pd.read_csv(arquivo, header=None)
    display(df)
    colunas = ['knot','tipo','x', 'y','z', 'raio','pai']
    remove = []
    for i, row in df.iterrows():
        linha = row[0].strip()
        if linha[0] == '#':
            remove.append(i)
        if linha[0] == '1':
            break
    
    df = pd.read_csv(arquivo, skiprows=remove, header=None, sep=' ')
    df.drop([0],axis=1, inplace=True) #Tira a primera coluna quando tem um espaco
    df.columns = colunas
    df.loc[0, 'pai'] = 1
    
    return df

df = read_swc(arquivo='neuron-1.swc')
display(df)

                                                      0
0     # SWC to SWC conversion from L-Measure. Sridev...
1     # Original fileName:C:\Users\Carolina\Desktop\...
2                                                     #
3     # SWC to SWC conversion from L-Measure. Sridev...
4     # Original fileName:C:\NMO_dev\data_proc\Adke_...
...                                                 ...
1750              1721 3 16.19 -199.54 -27.36 0.43 1720
1751             1722 3 16.19 -200.24 -27.33 0.405 1721
1752             1723 3 16.26 -201.04 -27.68 0.345 1722
1753             1724 3 15.96 -201.74 -27.72 0.325 1723
1754              1725 3 15.59 -202.34 -27.7 0.315 1724

[1755 rows x 1 columns]

      knot  tipo      x       y      z   raio   pai
0        1     1   0.00    0.00   0.00  8.054     1
1        2     1   3.14    6.24   3.98  8.054     1
2        3     1  -3.14   -6.23  -3.97  8.054     1
3        4     3   6.59    4.59  -2.46  1.220     1
4        5     3   6.78    5.69   0.26  1.220     4
...    ...   ...    ...     ...    ...    ...   ...
1720  1721     3  16.19 -199.54 -27.36  0.430  1720
1721  1722     3  16.19 -200.24 -27.33  0.405  1721
1722  1723     3  16.26 -201.04 -27.68  0.345  1722
1723  1724     3  15.96 -201.74 -27.72  0.325  1723
1724  1725     3  15.59 -202.34 -27.70  0.315  1724

[1725 rows x 7 columns]

In [4]:
df_mouse

      N_stems  N_bifs  N_branch    Length
0         5.0   394.0     793.0   1851.27
1         8.0   113.0     234.0  24231.40
2         9.0    47.0     103.0   8987.45
3        12.0   163.0     338.0  18427.80
4         7.0   154.0     315.0  21741.00
...       ...     ...       ...       ...
9980      7.0    12.0      31.0   1710.22
9981      9.0    44.0      97.0   4912.27
9982      8.0    28.0      64.0   3486.17
9983      9.0    29.0      67.0   4235.60
9984      5.0    36.0      77.0   4154.70

[9985 rows x 4 columns]

In [49]:
df_mouse = pd.read_csv('conjunto-1-mouse-DSA.csv')
display(df_mouse.loc[8470])
df_mouse = df_mouse[['N_stems','N_bifs', 'N_branch', 'Length']]
df_mouse = df_mouse.astype({"N_stems": float, "N_bifs": float, "N_branch": float})
means = df_mouse.mean()
print(f'Media das medidas: \n{means}\n')

# Pega a menor diferenca entre respectivo atributo e a media geral do atributo

distancias = []
for index, linha in df_mouse.iterrows():
    
    dist = np.sqrt((means['N_stems'] - linha['N_stems'])**2 + (means['N_branch'] - linha['N_branch'])**2 + 
                   (means['N_bifs'] - linha['N_bifs'])**2 + (means['Length'] - linha['Length'])**2)
    
    distancias.append(dist)

    
neuron = distancias.index(min(distancias))
indices = np.argsort(distancias)
df_mouse.iloc[indices[1]]

Media das medidas:
N_stems         6.777967
N_bifs        139.875914
N_branch      286.529795
Length      25890.455251
dtype: float64

N_stems         6.0
N_bifs        145.0
N_branch      296.0
Length      25917.9
Name: 8470, dtype: float64

In [51]:
df_mouse = pd.read_csv('conjunto-1-mouse-DSA.csv')
display(df_mouse.loc[8470])

title                                 0.0
neuron_id                        185196.0
Neuron_name            18454_00015-semi_r
Surface                           20355.9
Volume                            1272.24
Soma_Surface                      311.426
N_stems                               6.0
N_bifs                              145.0
N_branch                            296.0
Width                             1767.61
Height                            1468.24
Depth                             1975.04
Diameter                             0.25
EucDistance                       2319.03
PathDistance                       2932.0
Branch_Order                         18.0
Contraction                       0.95365
Fragmentation                      2687.0
Partition_asymmetry              0.499523
Pk_classic                            2.0
Bif_ampl_local                    79.4402
Fractal_Dim                       1.01117
Bif_ampl_remote                   82.2256
Length                            25917.9
Name: 8470, dtype: object

In [5]:
df_mouse = pd.read_csv('conjunto-1-mouse-FULL.csv')
N = df_mouse['N_bifs']
media = np.mean(N)
print(media)

52.425634328924794

C:\Users\jh-mo\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df_human = pd.read_csv('conjunto-1-human-DSA.csv')
N = df_human['N_bifs']
media = np.mean(N)
print(media)

55.86080947680158

In [7]:
df_human = pd.read_csv('conjunto-1-human-FULL.csv')
N = df_human['N_bifs']
media = np.mean(N)
print(media)

30.885871394905173